// Colours
$pink-light-transparent: rgba(237, 206, 205, 0.61) !important;
$pink-dark-light: #f8b3ba !important;
$pink-input: #fbd2d7;
$pink-write: #ffd8f0;
$pink-pink: #ffaddf;
$pink-midle: #fe80af;
$pink-hard: #e06ccf;
$red: #ff0000;
$pink: #ff1a75;
$write: #fff;

$bg-color: #6c757d !important;
$header-bg: #fff;
//Fonts
$font-family: "Open Sans", sans-serif;
$font-family-elements: "Open Sans";
