* {
  margin: 0;
}
main {
  margin: 0;
}

.form-control-ex {
  background: $pink-light-transparent;
  border: 1px solid $pink-dark-light;
}

.form-control-ex {
  background: $pink-light-transparent !important;
  border: 1px solid $pink-dark-light !important;
}
.form-control-ex:focus {
  color: #022d58;
  background-color: #fff;
  border-color: $pink-dark-light;
  outline: 0;
  box-shadow: 0 0 0 0.2rem $pink-light-transparent;
}

.btn-ex {
  color: #fff;

  background-color: $pink-dark-light;
  border-color: $pink-dark-light;
}

.btn-ex.focus,
.btn-ex:focus {
  color: #fff;
  background-color: $pink-input;
  border-color: $pink-write;
  box-shadow: 0 0 0 0.2rem $pink-light-transparent;
}

.btn-ex:hover {
  color: #fff;
  background-color: $pink-input;
  border-color: $pink-write;
}

footer {
  color: #fff;
  background: $bg-color;
}
